html {
    min-height: 100%;
}

body {
    background-color: #CDE7C7;
    margin: 0;
    font-family: 'Georgia', serif;
    min-height: 100%;
    font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    font-weight: normal;
}

a {
    color: #0A6E17;
}

a:hover, a:active {
    color: #000;
}

.header, .footer {
    background-color: #006B00;
    color: #fff;
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    padding: 1em;
    text-align: right;
}

.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
}

.header h1 {
    font-weight: lighter;
    font-size: 3em;
    max-width: 1000px;
    margin: 0 auto;
}

.unstyled {
    color: #fff;
    text-decoration: none;
}

.unstyled:hover, .unstyled:active {
    color: #fff;
}

.tagline {
    max-width: 1000px;
    margin: 0.5em auto;
    font-family: 'Georgia', serif;
    font-size: 1.2em;
}

.navbar {
    height: 60px;
    background-color: #00AD00;
}

.nav {
    list-style: none;
    margin: 0;
    padding-left: 0;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-li {
    float: left;
    position: relative;
}

.nav-itm {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.nav-itm:hover, .nav-itm:active {
    background-color: #48C748;
    color: #000;
}

.content {
    max-width: 1000px;
    margin: 1em auto;
    background-color: #fff;
    padding: 1em;
    border-radius: 2px;
}

h1 {
    font-size: 2.5em;
}

.postlink {
    text-decoration: none;
    color: #006B00;
}

.postinfo {
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    color: #666;
}


pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
    font-family: monospace;
}

blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #0A6E17;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

th {
    font-weight: bold;
}

th, td {
    padding: 6px 13px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #e3e3e3; /* E3! */
}

.footer-nav {
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

.footer-nav-itm {
    width: 33%;
    border: 0;
}

.older-link, .newer-link {
    text-decoration: none;
}

.footer-nav-itm-center {
    text-align: center;
}

.footer-nav-itm-right {
    text-align: right;
}